<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap mp">

  <Identity
    Name="596c77cf-925b-41eb-bfa0-16ce2762f358"
    Publisher="CN=mensly"
    Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="596c77cf-925b-41eb-bfa0-16ce2762f358" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>PivotJot</DisplayName>
    <PublisherDisplayName>mensly</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="1.0.22816.1" MaxVersionTested="10.0.10069.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="PivotJot.App">
      <uap:VisualElements
        DisplayName="PivotJot"
        Square150x150Logo="Assets\Logo.png"
        Square44x44Logo="Assets\SmallLogo.png"
        Description="PivotJot"
        BackgroundColor="transparent">
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications> 

  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>